<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Expense Tracker</title>
</head>

<body>
	<h2>List of Expenses</h2>
	<a href="/showNewExpenseForm">Add New Expense</a>
	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Amount</th>
				<th>Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="expense: ${listExpenses}">
				<td th:text="${expense.name}"></td>
				<td th:text="${expense.category}"></td>
				<td th:text="${expense.amount}"></td>
				<td th:text="${expense.date}"></td>
				<td>
					<a th:href="@{/showFormForUpdate/{id}(id=${expense.id})}">Edit</a>
					<a th:href="@{/deleteExpense/{id}(id=${expense.id})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>